/****************************************

				 STANDARD FONT

*****************************************/
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

/****************************************

					HEADER

*****************************************/

/*Mengatur warna dari navbar*/
.navbar {
	min-height: 40px;
  border-color: transparent;
	z-index: 100;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.container-fluid {
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}

/*Mengatur segala tentang burger*/
.navbar-header .navbar-toggle {
  margin-right: 15px;
  margin-top: 12px;
  border-radius: 4px;
  color: white;
  visibility: visible;
	z-index: 200;
}
/*Mengatur tentang logo encirclo*/
.navbar-brand {
	padding: 0 15px; height: 60px; line-height: 40px;
}
.navbar-brand img{
	width: 140px;
	height: 31px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
}
/*mengatur tentang link tentang kami dan hubungi kami ketika mobile*/
.navbar-collapse a{
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 19px;
	border-radius: 4px;
	font-size: 14px;
	z-index: 300;
	background-color: transparent;
}
ul #menu .nav navbar-nav navbar-left{
    width: 800px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
		text-align: center;
}
.navbar-default .navbar-nav>li.active>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #61dec9;
}
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		text-align: center;
    color: #61dec9;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #61dec9;
    background-color: transparent;
}
.nav>li>a {
      position: relative;
      display: block;
      padding: 5px 7px;
  }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: rgba(0, 0, 0, 0.7);;
    text-decoration: none;
    background-color: #61dec9;
    outline: 0;
}

/* Style for our header texts
* --------------------------------------- */
#fullpage{
  margin-top: 0px;
}
#header{
  margin-bottom: 0px;
  border-bottom: none;
}

/****************************************

					Content

*****************************************/


#Home {
  background: url('../img/gelap.jpg') no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position:top;
  margin-bottom: 0px;
  height: 667px;
  padding-top: 0px;
	position: relative;
  }

.jumbotron{
  background-color: inherit;
  margin-bottom: 0px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
}

.jumbotron h1{
  margin-top: 0px;
  padding-right: 0px;
  color: white;
	/*font-style: oblique;;*/
	/*text-shadow: 2px 2px 2px #A9A9A9;*/
  font-family: 'Roboto', sans-serif;
	font-weight: 700;
  width: auto;
  font-size: 70px;
  text-align: center;
  background-color: inherit;
}

.jumbotron h1.sub_h1{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
  width: auto;
  font-size: 70px;
  text-align: center;
  background-color: inherit;
	display: block;
}

.intro p{
  text-align: center;
  color: white;
  font-size: 18px;
	margin-bottom: 0px;
}

#Home .bottom-section {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

#Home .bottom-section .btn1 {
	color: white;
	font-size: 19px;
  width: 240px;
  display: block;
  margin: auto;
	border-style: solid;
	border-radius: 5px;
  border-color: white;
  background-color: transparent;
}

/*Mengatur tampilan tombol subscribe*/
#Home .bottom-section a.btn1:hover {
	color: #61dec9;
	border-color: #61dec9;

}
.glyphicon{
		color: white;
		font-size: 30px;
		padding-top: 30px;
}
#Home .bottom-section a.glyphicon:hover {
	color: #61dec9;
}

#WhatIsEncirclo{
	/*background: #0f101e;*/
	background: #fff;
	background-position:center;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 692px;
	padding-top: 80px;
}
#heroshot{
  width: 600px;
  /*height: 239px;*/
  margin-bottom: 15px;
  margin-top: 35px;
}

#WhatIsEncirclo .intro> ul{
	padding: 0px;
}
#WhatIsEncirclo .intro> ul li{
  display: inline-block;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
#WhatIsEncirclo .intro ul li{
  margin-left: 19px;
	margin-right: 19px;
	color: black;
}

.sub_h1what {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
  color: black;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sub_h1what > ul li{
	padding-left: 0px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
		margin-right: 45px;
}
.intro .sub_pwhat{
  font-size: 15px;
  width: 720px;
	margin: auto;
	color:black;
}

/* CAROUSEL */

.sliding{
	margin: 0px;
	width: 100%;
	padding: 0px;
	height: 100%;
}
.carousel-indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 8;
    padding-left: 0;
    text-align: center;
    list-style: none;
}
.carousel-inner {
	position: relative;
}
.carousel-control.right, .carousel-control.left {
	background: none;
}
.carousel-control.right:focus, .carousel-control.left:focus {
	opacity: 0.5;
}
.slide {
	height: 100%!important;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	position: relative;
}

.item {
	height: 100%;
}

#slide1{
	background: url('../img/buku_laptophp.jpg') no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#slide2{
	background: url('../img/laptophp.jpg') no-repeat center center , linear-gradient(to right, #a4a4a4 50%, #a4a4a4 50%);
	background-blend-mode: darken;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#slide3{
	background: url('../img/ramehp_edit.jpg') no-repeat center center, linear-gradient(to right, #a4a4a4 10%, #a4a4a4 10%);
	background-blend-mode: darken;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* SUB H1 HOW */
.sub_h1how{
	color: white;
	margin: 0px;
	font-size: 45px;
	position: absolute;
	top: 15%;
	width: 100%;
}
.link{
	margin-bottom: 50px;
}
.slide .row {
	width: 80%;
	margin: 0px;
	padding:0px;
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translateX(-50%);
}
.slide .row .col-sm-4 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.slide .row .col-sm-4 img{
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	padding-top:0px;
}

#JoinUs {
  background: url('../img/form.jpg') no-repeat center center ;
	background-size: 100% auto;
	background-position: 0% 0%;
	margin-top: 0px;
  margin-bottom: 0px;
	min-height: 600px;
	padding-bottom: 20px;
}
#mc_embed_signup form {
	padding: 0!important;
	margin-bottom: 0px;
}
#mc_embed_signup .mc-field-group select {
	display: block !important;
	width: 100% !important;
	padding: 5px 0;
	margin-bottom: 2px;
}
#mc_embed_signup .indicates-required {
  /*height: 750px;
  padding-top: 0px;
  text-align: center;
  font-size: 9px;
  margin-right: 0px;*/
	margin-bottom: 5%!important;
}
#JoinUs .intro #mc_embed_signup {
	width: 450px;
	margin: auto;
	padding-top: 35px;
	background: none;
}
#JoinUs .intro #mc_embed_signup p {
	color: black;
}

#JoinUs .intro .mc-field-group{
	margin: 0px;
	padding-bottom: 0px;
	width: 100%;

}
#JoinUs .intro h2{
	text-align: center;
	font-size: 37px;
	margin-top: 20px;
	margin-bottom: 15px;
	color: black;
}
#JoinUs .intro h2 a{
	color:black;
	text-decoration: underline;
}
#JoinUs .intro h2 a:hover {
	color: #61dec9;
}

#mc_embed_signup form {
 margin: auto!important
}
#mc_embed_signup .clear{
	display: block;
	margin: auto;
}
#mc_embed_signup .clear input {
	width: 100%;
	background: #61dec9;
}
#mc_embed_signup div.response {
	margin-top: 0px!important;
	text-align: center!important;
	width: 100%!important;
	font-weight: normal!important;
}
#mc_embed_signup .mc-field-group {
    display: block;
    width: 50%;;
    padding: 4px 0;
    text-indent: 2%;
}
#mc_embed_signup .size1of2 {
    clear: none;
    float: left;
    display: inline-block;
    width: 96% !important;
    margin-right: 4%;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}

/****************************************

					Contact Us

*****************************************/

.kontenhubungikami {
  background-color: white;
	margin-top: 65px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.judulkontak{
	margin-top: 85px;
	text-align: center;
	color: black;
	margin-bottom: 23px;
}

.kontenhubungikami .row{
	width: 700px;
	margin: auto;
}
.kontenhubungikami .row .col-sm-6{
	margin-top: 0px;
	/*margin-bottom: 20px;*/
}

.kontenhubungikami .row .col-sm-6.left{
	position: relative;
}
.kontenhubungikami .row .col-sm-6 {
	width: auto;
}
.col .right{
	margin-right: 0px;
	margin-top: 0px;
	padding-top:0px;
}
.left form{
	/*position: absolute;*/
	right: 0px;
/*padding-left:335px;*/
}

.left form #formulir{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:10px;
}

.left form input{
	width: 400px;
	border-color: #afafaf;
	margin-bottom: 10px;
}

.left form input.btn {
	color: white;
	/*font-weight: bold;*/
	letter-spacing: 1px;
	background: #61dec9;
	border: none;
}

.left form textarea{
	width: 400px;
	height: 150px;
	margin-bottom: 10px;
}

.right p{
	padding-top: 0px;
}

.company-info ul{
	padding: 0px;
	list-style: none;
	text-align: center;
}

.company-info img{
	width: 20px;
	height: 20px;
}

/****************************************

					Privacy Policy

*****************************************/
.back{
	background-color: #61dec9;
	border-radius: 5px;
	width: 120px;
	font-size: 15px;
	color: white;
	margin-left: 0px;
}

.edited {
	margin-left: 130px;
	text-align: left;
}

.konten {
	margin-bottom: 50px;
}

.kontenprivacy{
	margin-top: 65px;
	text-align: center;
}

.judulprivacy{
	margin-top: 85px;
	text-align: center;
	color: black;
}

.isiprivacy .awal{
	text-align: justify;
	margin-top: 20px;
	color: black;
	margin-left: 130px;
	margin-right: 130px;
}

.isi {
	text-align: left;
	margin-left: 150px;
	margin-right: 150px;
}
.isi section{
	margin-bottom: 10px;
}

.poinbesar .besar{
	list-style: none;
	margin-top: 20px;
}

/****************************************

					Terms & Conditions

*****************************************/

.edited {
	margin-left: 130px;
	text-align: left;
}

.kontenterms{
	margin-top: 65px;
	text-align: center;
}

.judulterms{
	margin-top: 85px;
	text-align: center;
	color: black;
}

.isiterms .awal{
	text-align: justify;
	margin-top: 20px;
	color: black;
	margin-left: 130px;
	margin-right: 130px;
}

.isi {
	text-align: left;
	margin-left: 150px;
	margin-right: 150px;
}
.isi section{
	margin-bottom: 10px;
}

.poinbesar .besar{
	list-style: none;
	margin-top: 20px;
}

.poinC2 , .poinD2{
	list-style: none;
}

/****************************************

					Our Values

*****************************************/
.kontenabout{
	margin-top: 60px;
	text-align: center;
}
.kontenabout .judulabout-alas{
	/*position: fixed;*/
	z-index: 0;
	top: 0;
	bottom: 15%;
	left: 0;
	right: 0;
	/*padding-bottom: 100px;*/
}
.kontenabout .judulabout{
	margin-top: 60px;
	text-align: center;
	color: white;
	background: url("../img/heroshot-3.png")no-repeat;
	background-blend-mode: inherit;
	background-size: cover;
	background-position: 0% 120%;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 2;
	height:100%;
}
.kontenabout .judulabout h1{
	margin-top: 13%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 230%;
}
.judulabout .awal{
	margin-left: 23%;
	margin-right: 23%;
	margin-bottom: 50px;
	text-align: center;
	color: white;
	font-size: 110%;
	z-index:2;
}
/*.kontenabout .boxatas-isiabout{
	z-index:3;
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	top:110%;
	margin: 0;
	font-size: 30px;
	min-height: 15%;
	background-color: white;
	text-align: center;
	-webkit-box-shadow: 0 2px 17px 0 white;
  -moz-box-shadow: 0 2px 17px 0 white;
  box-shadow: 0 2px 17px 0 white;
}*/
.kontenabout .isiabout {
	position: relative;
	z-index: 4;
	top: 600;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: white;
	-webkit-box-shadow: 0 2px 17px 0 white;
	-moz-box-shadow: 0 2px 17px 0 white;
	box-shadow: 0 2px 17px 0 white;
}
.kiri {
	display:flex;
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */
	flex: 1;
	max-height: 400px;
	text-align: center;
	align-content: center;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 40px;
}
.kiri p{
	max-width: 500px;
	text-align: justify;
}
.kiri img ,  .kanan img{
	max-width: 25%;
	max-height: 35%;
	margin-left: 10%;
	margin-right: 13%;
	margin-top:20px;
}
.kanan{
	display: flex;
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */
	flex: 1;
	max-height: 400px;
	text-align: center;
	align-content: center;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 40px;
}
.kanan p{
	max-width: 500px;
	text-align: justify;
}

.kanan .dna{
	max-width: 500px;
	padding-top: 0px;
	text-align: justify;;
	list-style: none;
}
.isiabout .kanan .dna ul {
		list-style: none;
}


/****************************************

					VIP

*****************************************/

.kontenvip{
	margin-top: 64px;
	text-align: center;
	align-content: center;
}

.jasvip{
	margin-top: 64px;
	background: url("../img/vip/IMG_1758e3.png")no-repeat;
	background-blend-mode: inherit;
	background-position: right top;
	background-size: cover;
	position: fixed;
	top:0;
	left:900;
	bottom:0;
	right:0;
	z-index: -1000;
}

.isivip {
	background-color: white;
	display:block;
	width: 35%;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.isivip img{
	margin-top: 70px;
	margin-bottom: 20px;
	width: 100%;
}
.btn2{
	text-align: center;
	font-weight: bold;
	color: black;
  font-size: 19px;
  width: 240px;
  display: block;
  margin: auto;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  background-color: transparent;
}

.btn2:hover {
	color: #61dec9;
	border-color: #61dec9;
}
/****************************************

					Help

*****************************************/
.kontenhelp{
	margin-top: 65px;
	text-align: center;
}

.judulhelp{
	margin-top: 85px;
	text-align: center;
	color: black;
}

.isihelp .awal{
	text-align: justify;
	margin-top: 20px;
	color: black;
	margin-left: 130px;
	margin-right: 130px;
}

.isi {
	text-align: left;
	margin-left: 150px;
	margin-right: 150px;
}
.isi section{
	margin-bottom: 10px;
}

.poinbesar .besar {
	list-style: none;
	margin-top: 20px;
}

.poinbesar .jawab{
	list-style: none;
}



/************************  FOOTER  **************************/

footer {
	bottom: 0;
	padding: 0px 30px 0px 30px;
	min-height: 180px;
	text-align: center;
	background: black;
	color: grey;
	margin-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	width: 100%;
	background-size: cover;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: grey;
}

footer .kolom1 h1 {
	font-family: "Raleway", serif;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	margin-bottom : 0px;
	margin-top:0px;
	color: white;
}

footer .kolom1 h2 {
	font-family: "Raleway", serif;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
	margin-bottom : 0px;
	margin-top: 0px;
	color: grey;
}

footer .row{
	padding-right: 120px;
	padding-left: 120px;
	padding-top: 2%;
	margin:0px;
	height: 180px;

	/*padding-bottom: 30px;*/
}

footer .row .rowatas{
	padding-right: 60px;
	padding-left: 60px;
	padding-top:0px;
	height: 80px;
}
footer .row .rowbawah{
	display: block;
	height: 60px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top:0px;

}

footer > *{
	display: block;
} /*titik dari si UL nya kalo inline-block jadi deket*/

footer p{
	color: white;
	padding-top: 10px;
	text-decoration: none;
	letter-spacing: 1.5px;
	text-align:center;
	font-size: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: grey;
	margin-bottom: 0px;
}

footer .footerbaris {
	display:inline;
	color:white;
	padding-bottom: 10px;
	margin: 0px;
	width: 150px;
	text-align:center;
	font-size: 15px;
	text-align:left;
	text-decoration:none;
}

footer .floats>li>a{

	color: grey;
	padding-top: 0px;
	margin: 0px;
	font-size: 13px;
	text-align:left;
}

footer .floats {
	display:block;
	padding-top: 0px;
	padding-left: 0px;
	content: center;
	text-align: center;
	border-bottom: 2px;
	border-bottom-color: white;
	border-bottom-width: thin;
	border-bottom-style: solid;
}
footer ul{
padding-left: 0px;

}

footer ul>li{
	margin: 0px 5px 0px 5px;
	display: inline;
	content: center;
}

footer .row.rowbawah span{
	text-align: center;
	color: rgb(105,105,105);
	font-size: 13px;

}

footer img{
	width: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

footer .gambar:hover{
	width:40px;
	opacity: 0.5;

}

footer .rowbawah ul a{
	color: grey !important;
}

ol, ul {
    margin-top: 0px;
    margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px;
		list-style: disc;
}

footer a:focus, a:hover {
	text-decoration: none;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
  position:fixed;
  height: 50px;
  display:block;
  width: 100%;
  background-color: transparent;
  z-index:9;
  text-align:center;
  color: #ffffff;
  padding: 20px 0 0 0;
}

#header{
  top:0px;
  }

#footer{
  bottom:0px;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu {
  bottom: 80px;
}

#infoMenu li a {
  color: #fff;
  z-index: 999;
}
