/* STYLING FOR LANDING PAGE */

.landing-page-cover {
  background: url('../img/tangan.jpg') no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 550px;
  }

.konten {
  height: inherit;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

  h1{
    margin-top: 0px;
    /*padding-top: 320px;*/
    padding-right: 0px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    width: auto;
    font-size: 50px;
    text-align: center;
  }

  .btn{
    color : black;
    width: 200px;
    display: block;
    margin: auto;
    border-color: white;
    border-style: double;
    background-color: white;
    opacity: 0.5;
  }






/*nambahin h2*/
