*{
/*	border: solid;
	border-width: 1px;
	border-radius: 10px;*/
	/*font-family: 'Helvetica';*/
}

body > * {
	width: 95%;
	background: #fff;
	border-bottom: solid;
	border-width: 1px;
	border-color: #ccc;
	margin: auto;
}

a{
	text-decoration: none;
}

ul, ol{
	list-style-type: none;
	padding-left: 0px;
}

ul li{
	display: inline-block;
}

span, p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}

/****************************************

				CUSTOM FLEX

*****************************************/
.column{
	padding: 0px 10px;
}

/****************************************

					HEADER

*****************************************/

header{
	width: 100%;
	position: fixed;
	background-color: #fff;
	height: 70px;
	border-bottom: solid;
	border-color: #ccc;
	border-width: 1px; 
	z-index: 100;
}

#burger_menu{
	width: 30px;
	-webkit-box-flex:0;
	-webkit-flex:none;
	    -ms-flex:none;
	        flex:none;
	z-index: 150;
	position: fixed;
	border:none;
	top: 17.5px;
	left: 3%;
}

#dropmenu{
	display: none;
	width: 100%;
	margin-top: 70px;
	position: fixed;
	z-index: 80;
	height: 50px;
	/*background: #61dec9;*/
	background: #16172d;
	border: #000;
}

#dropmenu li a{
	color: black;
	font-style: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 12px;
	font-size: 0.8rem;
	color: white;
}

.header_fill{
	max-width: 1000px;
	width: 100%; 
}

nav{
	min-width: 150px;
}

nav ul li a{
	color: black;
	font-style: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 0.8em;
}

.active{
	color: #61dec9;
	text-decoration: underline;
}

nav ul li a:hover{
	color: #61dec9;
}

.button{
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 0.8em;
	font-style: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

/*------------------------------

	HEADER: Logo Encirclo

-------------------------------*/

#top_logo{
	max-width: 250px;
	height: 70px;
	position: fixed;
	left: 50%;
	z-index: 100;
	margin: 0px auto;
	margin-left: -125px;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#logo{
	margin: auto 5px;
	max-width: 60px;
	width: 100%;
	position: relative;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#logo img,
#encirclo img{
	max-width: 100%;
	height: auto;
}

#logo.movecenter{
  	/*margin: 10px auto;*/
  	left: 4px;
  	-webkit-transform: rotate(360deg);
  	        transform: rotate(360deg);
  	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#encirclo{
	border: none;
	margin: auto 5px;
	max-width: 130px;
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
	/*margin: 30px 0px 30px 5px;*/
}

#encirclo.dissapear{
	max-width: 0px;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#sign_up{
	color: white;
	background: #61dec9;
}

#sign_up:hover{
	background: #333;
}

.relative_content > *{
}

/****************************************

				COVER

*****************************************/

.cover{
	/*padding-top: 80px;*/
	height: 85%;
}

.coveritems{
	padding-top: 70px;
	height: 100%;
}

img#heroshot{
	display: block;
	margin: auto;
	width: 80%;
}

.divider{
	margin: auto;
	min-height: 15%;
}

.main-description{
	min-height: 500px;
}

.main-description div{
	max-width: 500px;
}

.main-description p{
	/*width: 100%;*/
	text-align: center;
	line-height: 150%;
}

.main-description img{
	max-width: 400px;
	width: 100%;
	height: 100%;
	padding: 10px;
}

/****************************************

				BENEFIT

*****************************************/

.benefit-item{
	/*max-width: 800px;*/
	width: 100%;
	background: white;
	z-index: 50;
}

.benefit-item img{
	max-width: 250px;
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.benefit-desc {
	max-width: 600px;
}

.benefit-desc > * {
	margin: 5px 10px;
}

.benefit-desc p{
	font-size: 0.9em;
	line-height: 150%;
}

img.dropbutton{
	max-width: 40px;
	height: 40px;
	margin: 0px auto 10px;
}

/****************************************

				TESTIMONY

*****************************************/

#testimony{
	width: 100%;
	min-height: 30%;
	background: #ddd;
}

.testimony_fill{
	max-width: 800px;
	width: 100%;
}

.testimony_fill *{
	font-weight: 700;
}

.testimony_fill p{
	font-style: italic;
}

.prof_pict{
	max-width: 120px;
	width: 100%;
	height: 160px;
	background-image: url(../img/filepakebg/fotosena_01.jpg);
	background-position: center;
	background-size: cover;
	padding: 2%;
}

.quotes{
	max-width: 650px;
	width: 100%;
}

/****************************************

				FORM

*****************************************/
#partnership{
	width: 100%;
	min-height: 100%;
	color: white;
	background-color: #16172d;
}

.content{
	max-width: 1000px;
	width: 100%;
	min-height: 60%;
	z-index: 50;
}

#backimage{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #16172d;
}



.handimage{
	max-width: 40%;
	height: 40%;
	background-size:contain;
	background-repeat: no-repeat;
}

#handimage1{
	background-image: url(../img/filepakebg/tangankiri_01.jpg);
	background-position: right;
	margin-left: 0px;
}

#handimage2{
	background-image: url(../img/filepakebg/tangankanan.jpg);
	background-position: left;
	margin-right: 0px;
}

form{
	max-width: 400px;
	width: 90%;
	padding: 0px !important; 
}

form > *{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-radius: 10px;
	padding: 6px 8px;
	padding: .375rem 0.5rem;
	font-size: 1em;
	color: #333;
}

.line_form,
.submit{
	height: 40px;
	width: 100%;
	margin: 1% auto;
}

#send, #ask{
	margin-top: 20px;
	height: auto;
	border: none;
	font-size: 1.2em;
	color: #fff;
    background: -webkit-linear-gradient(#61dec9,#4eaf9c); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
    background: linear-gradient(#61dec9,#4eaf9c); /* Standard syntax */
}

#ask{
	margin-top: 10px;
	background: #61dec9;
}

#ask:hover{
	background: #4eaf9c;
}

#send:active{
	background: -webkit-linear-gradient(#4eaf9c, #61dec9);
	background: linear-gradient(#4eaf9c, #61dec9); /* Standard syntax */
}

#others{
	display: none;
}

textarea.area_form{
	height: 80px;
	width: 100%;
	margin: 1% auto;
}

textarea:focus, input:focus{
    outline: none;
}

.benefit-dark{
	background: #16172d;
	width: 100%;
	display: none;
}

.benefit-dark ul{
	margin: 20px auto;
	color: white;
	max-width: 900px;
}

.benefit-dark ul li{
	max-width: 250px;
	margin-top: 0px;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.benefit-dark li img{
	width: 150px;
	height: 150px;
	margin: 10px auto;
}

.benefit-dark ul li p{
	font-size: 0.8em;
	line-height: 150%;
}

.generate-benefit > *{
	position: relative;
}


/****************************************

				FOOTER

*****************************************/
footer{
	padding: 50px 30px 30px 30px;
	min-height: 300px;
	text-align: left;
	background: #0f101e;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	width: 100%;
}

footer > *{
	display: block;
}

footer > a{
	color: white;
	margin: 10px auto;
}

footer ul li{
	margin: 0px 5px 0px 0px;
}

footer span{
	margin-top: 50px;
	text-align: left;
}

footer img{
	width: 60px;
}

.contact{
	padding-top: 80px;
	min-height: 80%;
}

.contact > *{
	margin: 10px auto;
}

.form_and_info{
	width: 100%;
}

.company-info{
	padding: 10px;
	max-width: 400px;
	width: 85%;
	font-size: 0.8em;
}

.company-info > *{
	padding-left: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.company-info ul li span{
	display: table-cell;
	padding-left: 45px;
	display: block;
	text-align: left;
	min-height: 40px;
	vertical-align: middle;
}

.company-info ul li{
	margin: 10px 0px;
	display: table;
}

.company-info img{
	margin-left: 5px;
	width: 30px;
	position: absolute;
}

#thankyou{
	color: white;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 200;
	position: fixed;
	border: none;
	display: none;
}

#thankyou > div{
	width: 100%;
	height: 100%;
}

#thankyou h1{
	margin-bottom: 25px;
}

#inverse_logo{
	width: 20em;
	margin-bottom: 80px;
}

.roll_timer_cont{
	margin-top:50px;
	height: 50px;
	width: 50px;
	padding: 0px;
}

#thank_image img{
	max-width: 100%;
	height: auto;
}

#thank_image{
	border: none;
	margin: auto 5px;
	width: 0em;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#thank_image.open{
	margin: 0px auto;
	width: 20em;
	-webkit-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#timer{
	/*margin-top:0px;*/
	font-size: 0.8em;
}

.absolute{
	margin-top:50px;
	position: absolute;
	width: 100%;
}

img#roll_timer{
	position: relative;
	width: 50px;
	margin-left: calc(50% - 36px);
	/*margin-top: 20px;*/
	-webkit-filter: invert(100%);
}
