@media all and (max-width: 769px) {
  /*untuk judul*/
      .konten h1{
        font-size: 25px;

      }
      .konten{
        padding-top: 200px;
      }
/*untuk formulir*/
      .formulir{
        width: 300px;
      }
/*tata letak tombol back to top*/
      footer .about{
        margin-right: 15px;
        margin-bottom: 15px;
      }

      .mobile-visible{
        width: 300px;
      }
      .row{
        padding-left: : 0px;
        padding-right: 0px;
        width: 500px;
      }
      /*.section-two!important{
        width: 300px;
      }*/




}
