/* MEDQUERY FOR MOBILE PHONES */

@media screen and (max-device-width : 767px)
{

  /*------------navbar--------------*/
  #header{
    width:100%;
  }
  .navbar{
    width: 100%;
  }
  .navbar-header{
    width: 100%;
    margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
    margin-right: 0px;
  }
  .navbar-brand img{
  	width: 95px;
  	height: 22px;
  	margin-top: 20px;
  	margin-bottom: 5px;
  	margin-left: 5px;
  }

  .navbar-right>li>a {
    color : #61dec9;
  }

  .navbar-fixed-top .navbar-collapse {
      max-height: 500px;
  }

  .navbar-collapse a {
    text-align: left!important;
    color: white!important;
  }

  .navbar-nav .open .dropdown-menu.submenu-nav>li>a {
    color: white!important;
    text-align: center;
  }

  /*--------halaman welcome-----------*/
  #Home{
      width: 100%;
      height: 568px;
  }
  .jumbotron{
    width:100%;
  }
  h1{
      font-size: 23px!important;
      margin-left: 2%;
      margin-right: 2%;
  }
  p{
      font-size: 13px!important;
      margin-left: 2%;
      margin-right: 2%;
  }
  /*---------------what is encirclo--------------*/
  #WhatIsEncirclo{
      width: 100%;
      height: 568px;
      margin: 0px;
      padding: 30% 0px 0px 0px;
  }
  #heroshot{
      width: 90%;
      margin-bottom: 15px;
      margin-top: 0px;
  }
  .intro ul {
      margin: auto;
      padding: 0px 35px;
      margin-bottom: 10px;
  }
  #WhatIsEncirclo .intro ul li {
    margin: 5px;
    font-size: 15px;
  }
  .intro .sub_pwhat {
      font-size: 13px;
      width: 80%;
      margin-left: 0px;
      margin-right:0px;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #HowItWorks{
      width: 100%;
      height: 568px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
    font-size: 15px
    top :12%;
  }

  .slide .row {
    top: 25%;
    /*transform: translateY(-60%);*/
  }

  .slide .row .col-sm-4  {
    max-height: 120px;
  }

  .slide .row .col-sm-4 img {
    height: 70px;
    width: auto;
    margin: 0px;
  }

  .slide .row h3{
    font-size: 15px;
    margin: 15px 0px;
  }
  .slide .row p{
    display: none;
    font-size: 12px;
  }
  .carousel-indicators{
      bottom: 10px;
  }
  /*--------------form subscribe------------*/
  #JoinUs {
    width: 100%;
    /*height: 568px;*/
    background: none;
  }
  #JoinUs # mc_embed_signup_scroll{
    width: 100%;
  }
  #JoinUs .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
    width: 80%;
    padding: 0px!important;
      /*text-align: center;*/
  }
  #mc_embed_signup .indicates-required{;
    margin-top: 2%;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  footer {
    padding: 0px;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
    height: auto;
  }
  footer .row .kolom1 {
    padding: 0px 7%;
    width:100%;
    margin: auto;
    margin-bottom: 3%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    text-align: center;
    text-indent: 0px;
    font-size: 85%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 100%;
    margin: auto;
    padding: 0 !important;
  }
  footer .row .rowatas {
    height: auto;
    width: 100%;
    padding:10px 0px 0px 0px;
  }
  footer .row .rowatas img{
    width: 10%;
  }
  footer .row .rowbawah{
    margin-top: 4%;
    padding:0px;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
  }
  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }
  /* Konten untuk halaman selain landing page */
  .isi {
    margin: 10% 7%;
  }
  .awal {
    margin-left: 7%!important;
    margin-right: 7%!important;
  }
  .edited {
    display: block;
    margin: 0px;
    text-align: center;
  }
  .isi>ul {
    padding-left: 0px;
  }
  .kontenhubungikami .row{
    width: auto;
  }
  .left form input{
    width:100%;
  }
  .left form textarea{
    width:100%;
  }
  .company-info ul{
    font-size: 85%;
    /*padding-left: 80px;*/
    margin-bottom: 25px;
  }

  /* MEDQUERY FOR ABOUT US*/
  .kontenabout .judulabout-alas .judulabout {
      font-size: 90%;
      height: 97%;
      margin-top: 60;
  }
  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      text-shadow: 1px 1px grey;
  }
  .kontenabout .judulabout-alas .judulabout h1{
    margin-top: 22%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 34%;
    font-size: 196%;
    text-shadow: 2px 2px grey;
  }
  .isiabout .kiri{
    margin:15px 0px;
    display: block;
    padding-left: 9%;
    padding-right: 9%;
  }
  .isiabout .kiri h1{
    font-size: 25px!important;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
  }
  .isiabout .kanan h1{
    font-size: 25px!important;
    text-align: center;
    margin-top:0px;
    margin-bottom:10px;
  }
  .isiabout .kanan{
    margin:15px 0px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 9%;
    padding-right: 9%;
  }
  .isiabout .kanan img, .isiabout .kiri img{
    align-self: center;
    max-width: none;
    max-height: none;
    width: 40%;
    margin: auto;
  }
  .isiabout .kanan ol, ul{
    padding-left: 15px;
  }
  .kontenabout .judulabout{
    background-size: auto 110%;
    background-position: 50% 40%;
    margin-top: 0px;
    padding-top: 60px;
  }

  .isivip{
    width: 85%;
    margin: auto;
    align-self: center;
  }
  .jasvip{
    display: none;
  }
  .isivip img {
    margin-top: 30px;
  }
  .isivip img.first-img {
    /*margin-top: 0px;*/
  }
}

/* MEDIA QUERIES FOR TABLETS */
@media screen and (min-device-width : 768px) and (max-device-width : 992px)
{
  .navbar-collapse>ul>li>a {
    color: white!important;
  }

  .jumbotron {
    width: 80%;
  }

  .jumbotron>h1{
    font-size: 45px!important;
  }

  #WhatIsEncirclo {
    position: relative;
    padding: 0px;
  }

  #WhatIsEncirclo .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .slide .row h3{
    height: 30px;
  }
  #WhatIsEncirclo .intro .sub_h1what {
    font-size: 30px;
  }

  #JoinUs {
  	background-size: 100% auto;;
  }

  footer {
    padding: 0px;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
    height: auto;
  }
  footer .row .kolom1 {
    padding: 0px 7%;
    width:100%;
    margin: auto;
    margin-bottom: 3%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    text-align: center;
    text-indent: 0px;
    font-size: 85%;
    padding-top:10px;
  }
  footer .row .kolom2 {
    width: 100%;
    margin: auto;
    padding: 0 !important;
  }
  footer .row .rowatas {
    height: auto;
    width: 100%;
    padding:10px 0px 0px 0px;
  }
  footer .row .rowatas img{
    width: 5%;
  }
  footer .row .rowbawah{
    margin-top: 4%;
    padding:0px;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
  }

  /* MEDQUERY FOR ABOUT US */
  .kontenabout .judulabout{
    background-size: 150% auto;
    background-position: 47% -20%;
    margin-top: 0px;
    padding-top: 60px;
  }
  .kontenabout .kiri, .kontenabout .kanan {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .kiri img, .kanan img {
    max-width: none;
    max-height: none;
    width: 220px;
    height: 220px;
    float: right;
    margin-top: 30px;
  }
  .kiri img {
    margin-left: 70px;
    margin-right: 0px;
  }
  .kanan img {
    margin-left: 0px;
    margin-right: 70px;
  }
}
