/* -------------- Samsung Galaxy S5 ----------- */
/*---PORTRAIT----*/
@media screen and (min-device-width : 359px) and (max-device-width : 361px) {
  #header{
    width:360px;
  }
  .navbar{
      width: 360px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 80%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0px !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 6%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%!important;
    padding-left: 7% !important;
  }
  #BounceToTop{
    bottom: 2%!important;
    right: 3%!important;
  }
}

/* -------------- Iphone5 ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 319px) and (max-device-width : 321px) {
/*------------navbar--------------*/
  #header{
      width:320px;
  }
  .navbar{
      width: 320px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 85%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/* -------------- Iphone6 ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 374px) and (max-device-width : 376px){
/*------------navbar--------------*/
  #header{
    width:375px;
  }
  .navbar{
      width: 375px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }
}

/* -------------- Ipad ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 767px) and (max-device-width : 769px){
/*------------navbar--------------*/
  #header{
    width:768px;
  }
  .navbar{
    width: 768px;
    height: 10%!important;
  }
  .navbar-header{
      width: 768px;
      height: 15%!important;
      margin-right: 0px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 20%;
    	height: 55%;
    	margin-top: 4%;
    	margin-bottom: 1%;
    	margin-left: 2%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  .judulprivacy{
    margin-top: 100px;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/* -------------- Galaxy Mega----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 719px) and (max-device-width : 721px){
/*------------navbar--------------*/
  #header{
      width:720px;
  }
  .navbar{
      width: 720px;
  }
  .navbar-header{
      width: 720px;
      height: 10%!important;
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin: 3% 0% 3% 0%;
      width: 700px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 185px;
    	height: 40px;
    	margin-top: 4%;
    	margin-bottom: 2%;
    	margin-left: 0%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  .judulprivacy{
    margin-top: 110px;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/* -------------- Galaxy Tab----------- */
/*---LANDSCAPE----*/
@media only screen and (min-device-width : 1279px) and (max-device-width : 1281px) and (orientation: landscape){
/*------------navbar--------------*/
  #header{
      width:1280px;
  }
  .navbar{
      width: 1280px;
  }
  .navbar-header{
      width: 500px!important;
      /*height: 10%!important;*/
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      width: 1245px;
      margin: 2% 0% 0% 0%;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 180px;
    	height: 37px;
    	margin-top: 3%;
    	margin-bottom: 2%;
    	margin-left: 3%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  .judulprivacy{
    margin-top: 110px;
  }
  h1{
    font-size: 175%!important;
  }
  .edited{
    margin: auto!important;
    text-align: center;
  }
  .isiprivacy .awal{
    margin-left: 5%;
    margin-right: 3%;
    }
  p, li{
    text-align: justify;
    }
  .kontenprivacy{
    margin-right: 3%;
    text-align: justify;
  }
  .isi{
    margin-left: 5%;
    margin-right: 3%;
  }
  .poinbesar{
    padding-left: 0px;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 100%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 8%;
  }
  footer .row .kolom1 h2{
    font-size: 125%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 10%;
  }
  footer .row .rowbawah{
  margin-top: 6.8%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size: 100%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }
}
