/* -------------- Samsung Galaxy S5 ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media screen and (min-device-width : 359px) and (max-device-width : 361px)
{
/*------------navbar--------------*/
  #header{
    width:360px;
  }
  .navbar{
      width: 360px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 360px;
  }
  .jumbotron{
    width:360px;
  }
  h1{
      font-size: 26px!important;
      display: inline-flex;
  }
  p{
      font-size: 13px!important;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 360px;
      margin-left: 0px;
      margin-right: 0px;
  }
  #heroshot{
      width: 90%;
      height: 20%;
      margin-bottom: 15px;
      margin-top: 35px;
  }
  .intro ul {
      margin-right: 15%;
  }
  .intro .sub_pwhat {
      font-size: 13px;
      width: 80%;
      margin-left: 0px;
      margin-right:0px;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 360px;
      height: 640px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
      padding-top: 40px;
      margin-bottom: 20px;
  }
  .slide ul{
      width: 360px!important;
      height: 400px!important;
      padding-left: 0%!important;
      display: flex;
      flex-wrap: wrap;
  }
  .slide img{
      width: 16%;
      height: 15%;
      /*margin: 2% 5% 5% 5%;*/
  }

  .slide h3{
      font-size: 18px!important;
  }
  .slide ul li p{
      width: 80%;
      display: inline-flex;
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
  }
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%!important;
    /*height: 568px;*/
    margin-top: 10%;
    margin-bottom: 40%;
    background: none;
    padding-left: 15%;
  }
  #section3 .intro #mc_embed_signup{
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 5%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 85%;
    margin-left: 7%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 2%;
  }
  .clear {
    margin-left: 30%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 80%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0px !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 6%;
  padding-left: 7%!important;
}
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }
}

/* -------------- Iphone5 ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media  screen and (min-device-width : 319px) and (max-device-width : 321px)
{
/*------------navbar--------------*/
  #header{
      width:320px;
  }
  .navbar{
      width: 320px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 320px;
      height: 568px;
  }
  .jumbotron{
    width:320px;
  }
  h1{
      font-size: 26px!important;
      display: inline-flex;
      margin-left: 2%;
      margin-right: 2%;
  }
  p{
      font-size: 13px!important;
      margin-left: 2%;
      margin-right: 2%;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 320px;
      height: 568px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20%;
  }
  #heroshot{
      width: 90%;
      height: 20%;
      margin-bottom: 15px;
      margin-top: 0px;
  }
  .intro ul {
      margin-right: 15%;
  }
  .intro .sub_pwhat {
      font-size: 13px;
      width: 80%;
      margin-left: 0px;
      margin-right:0px;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 320px;
      height: 568px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 40%;
  }
  .sub_h1how{
      padding-top: 40px;
      margin-bottom: 20px;
  }
  .slide ul{
      width: 320px!important;
      height: 350px!important;
      padding-left: 0%!important;
      display: flex;
      flex-wrap: wrap;
  }
  .slide ul li{
      margin-bottom: 0px;
  }
  .slide img{
      width: 16%;
      height: 15%;
      /*margin: 2% 5% 5% 5%;*/
  }

  .slide h3{
      font-size: 18px!important;
  }
  .slide ul li p{
      width: 80%;
      display: inline-flex;
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
  }
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%;
    /*height: 568px;*/
    margin-bottom: 40%;
    background: none;
  }
  #section3 # mc_embed_signup_scroll{
    width: 100%;
  }
  #section3 .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 18%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 85%;
    margin-left: 20%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 17%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  .clear {
    margin-left: 40%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 85%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}





/* -------------- Iphone6 ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 374px) and (max-device-width : 376px){
/*------------navbar--------------*/
  #header{
    width:375px;
  }
  .navbar{
      width: 375px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 375px;
  }
  .jumbotron{
    width:375px;
  }
  h1{
      font-size: 26px!important;
      display: inline-flex;
  }
  p{
      font-size: 13px!important;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 375px;
      margin-left: 0px;
      margin-right: 0px;
  }
  #heroshot{
      width: 90%;
      height: 20%;
      margin-bottom: 15px;
      margin-top: 35px;
  }
  .intro ul {
      margin-right: 15%;
  }
  .intro .sub_pwhat {
      font-size: 13px;
      width: 80%;
      margin-left: 0px;
      margin-right:0px;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 375px;
      height: 667px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
      padding-top: 40px;
      margin-bottom: 20px;
  }
  .slide ul{
      width: 360px!important;
      height: 400px!important;
      padding-left: 0%!important;
      display: flex;
      flex-wrap: wrap;
  }
  .slide img{
      width: 16%;
      height: 15%;
      /*margin: 2% 5% 5% 5%;*/
  }

  .slide h3{
      font-size: 18px!important;
  }
  .slide ul li p{
      width: 80%;
      display: inline-flex;
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
  }
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%;
    /*height: 667px;*/
    margin-bottom: 40%;
    background: none;
  }
  #section3 # mc_embed_signup_scroll{
    width: 100%;
  }
  #section3 .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 18%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 85%;
    margin-left: 20%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 17%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  .clear {
    margin-left: 45%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}





/* -------------- Ipad ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 767px) and (max-device-width : 769px){
/*------------navbar--------------*/
  #header{
    width:768px;
  }
  .navbar{
    width: 768px;
    height: 10%!important;
  }
  .navbar-header{
      width: 768px;
      height: 15%!important;
      margin-right: 0px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 20%;
    	height: 55%;
    	margin-top: 4%;
    	margin-bottom: 1%;
    	margin-left: 2%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 768px;
      height: 1024px;
  }
  .jumbotron{
    width:768px;
    padding-top: 45%!important;
  }
  .jumbotron h1{
      font-size: 66px!important;
      display: inline-flex;
  }
  .jumbotron p{
      font-size: 19px!important;
      margin-left: 2%!important;
      margin-right: 2%!important;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 768px;
      height: 1024px;
      margin-left: 0px;
      margin-right: 0px;
  }
  #heroshot{
      width: 60%;
      height: 20%;
      margin-bottom: 15px;
      margin-top: 35px;
  }
  #section1 .intro {
      padding-top: 20%!important;
  }
  .intro ul {
      margin-right: 5%;
  }
  .sub_h1what {
    margin-left: 5%!important;
    margin-right: 5%!important;
  }
  .intro .sub_pwhat {
      font-size: 13px;
      width: 80%;
      margin-left: 5%;
      margin-right: 5%;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 768px;
      height: 800px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
      padding-top: 20%;
      margin-bottom: 0%;
  }
  .slide ul{
    display:inline-flex;
    width: 80%!important;
  	height: 60%!important;
  	padding-top: 10%;
  	padding-left: 10%;
  	margin-right: 10%;
  }
  .slide img{
    width: 52%;
    height: 25%;
    margin: 5% 15% 15% 15%!important;
    padding-top:0px;
  }
  .slide h3{
    font-size: 18px!important;
    margin-bottom: 20%!important;
    width: 20%!important;
    height: 10%!important;
    display: inline-table!important;
  }
  .slide ul li p{
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px!important;
    margin-bottom: 5%;
    /*width: 400px;*/
    width: 80%;
    /*display: inline-flex;*/
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
      width: 50%!important;
      height: 15%!important;
  }
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%;
    /*height: 700px;*/
    margin-bottom: 0%;
    background: none;
  }
  #section3 # mc_embed_signup_scroll{
    width: 100%;
  }
  #section3 .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 18%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 100%;
    margin-left: 13%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 17%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  .clear {
    margin-left: 55%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }
}





/* -------------- Galaxy Mega ----------- */
/*---PORTRAIT and LANDSCAPE----*/
@media only screen and (min-device-width : 719px) and (max-device-width : 721px){
/*------------navbar--------------*/
  #header{
      width:720px;
  }
  .navbar{
      width: 720px;
  }
  .navbar-header{
      width: 720px;
      height: 10%!important;
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin: 3% 0% 3% 0%;
      width: 700px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 185px;
    	height: 40px;
    	margin-top: 4%;
    	margin-bottom: 2%;
    	margin-left: 0%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 720px;
      height: 1280px;
      background-position: top;
  }
  .jumbotron{
    width:720px;
    padding-top: 65%!important;
    margin-bottom: 25%;
  }
  .jumbotron h1{
      font-size: 63px!important;
      display: inline-flex;
  }
  .jumbotron h1.sub_h1 {
      margin-bottom: 5%;
  }
  .jumbotron p{
      font-size: 17px!important;
      margin-left: 2%!important;
      margin-right: 2%!important;
  }
  .btn1 {
      margin-bottom: 5%;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 720px;
      height: 1280px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 0px;
  }
  #heroshot{
      width: 70%;
      height: 15%;
      margin-bottom: 15px;
      margin-top: 30%;
  }
  #section1 .intro {
      padding-top: 20%!important;
  }
  .intro ul {
      margin-right: 5%;
  }
  .sub_h1what {
    margin-left: 5%!important;
    margin-right: 5%!important;
  }
  .intro .sub_pwhat {
      font-size: 16px;
      width: 80%;
      margin-left: 5%;
      margin-right: 5%;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 720px;
      height: 800px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
      padding-top: 20%;
      margin-bottom: 0%;
  }
  /*.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
      width: 720px;
  }*/
  #slide1,#slide2,#slide3{
    width: 720px;
    margin: 0px 0px 0px 0px!important;
    padding: 0px 0px 0px 0px;
  }
  .slide ul{
    display:inline-flex;
    width: 80%!important;
  	height: 60%!important;
  	padding-top: 10%;
  	padding-left: 10%;
  	margin-right: 10%;
  }
  .slide img{
    width: 58%;
    height: 25%;
    margin: 5% 15% 15% 15%!important;
    padding-top:0px;
  }
  .slide h3{
    font-size: 18px!important;
    margin-bottom: 20%!important;
    width: 20%!important;
    height: 10%!important;
    display: inline-table!important;
  }
  .slide ul li p{
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px!important;
    margin-bottom: 5%;
    /*width: 400px;*/
    width: 80%;
    /*display: inline-flex;*/
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
      width: 50%!important;
      height: 15%!important;
  }
  /*.carousel-control.right{
      width: 5%;
  }
  .carousel-control.left{
      width: 5%;
  }*/
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%;
    /*height: 800px;*/
    margin-bottom: 0%;
    background: none;
  }
  #section3 # mc_embed_signup_scroll{
    width: 100%;
  }
  #section3 .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 18%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 100%;
    margin-left: 13%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 17%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  .clear {
    margin-left: 55%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}





/* -------------- Galaxy Tab ----------- */
/*---LANDSCAPE----*/
@media only screen and (min-device-width : 1279px) and (max-device-width : 1281px) and (orientation: landscape){
/*------------navbar--------------*/
  #header{
      width:1280px;
  }
  .navbar{
      width: 1280px;
  }
  .navbar-header{
      width: 500px!important;
      /*height: 10%!important;*/
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      width: 1245px;
      margin: 2% 0% 0% 0%;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 180px;
    	height: 37px;
    	margin-top: 3%;
    	margin-bottom: 2%;
    	margin-left: 6%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }
  /*--------halaman welcome-----------*/
  #section0{
      width: 1280px;
      height: 800px;
      background-position: top;
  }
  .jumbotron{
    width:1280px;
    padding-top: 25%!important;
    margin-bottom: 1%!important;
  }
  .jumbotron h1{
      font-size: 63px!important;
      display: inline-flex;
  }
  /*.jumbotron h1.sub_h1 {
      margin-bottom: 5%;
  }*/
  .jumbotron p{
      font-size: 17px!important;
      margin-left: 2%!important;
      margin-right: 2%!important;
  }
  .btn1 {
      margin-bottom: 5%;
  }
  /*---------------what is encirclo--------------*/
  #section1{
      width: 1280px;
      height: 800px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 0px;
  }
  #heroshot{
      width: 50%;
      height: 25%;
      margin-bottom: 15px;
      margin-top: 15%;
  }
  #section1 .intro {
      padding-top: 0%!important;
  }
  .intro ul {
      margin-right: 5%;
  }
  .sub_h1what {
    margin-left: 5%!important;
    margin-right: 5%!important;
  }
  .intro .sub_pwhat {
      font-size: 16px;
      width: 80%;
      margin-left: 5%;
      margin-right: 5%;
      color: black;
      display: inline-flex;
  }
  /*--------------how it works-----------*/
  #section2{
      width: 1280px;
      height: 800px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .sub_h1how{
      padding-top: 12%;
      margin-bottom: 0%;
  }
  /*.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
      width: 720px;
  }*/
  #slide1,#slide2,#slide3{
    width: 1280px;
    height: 800px;
    margin: 0px 0px 0px 0px!important;
    padding: 0px 0px 0px 0px;
  }
  .slide ul{
    display:inline-flex;
    width: 80%!important;
  	height: 60%!important;
  	padding-top: 10%;
  	padding-left: 10%;
  	margin-right: 10%;
  }
  .slide img{
    width: 58%;
    height: 46%;
    margin: 5% 15% 15% 15%!important;
    padding-top:0px;
  }
  .slide h3{
    font-size: 18px!important;
    margin-bottom: 20%!important;
    width: 20%!important;
    height: 10%!important;
    display: inline-table!important;
  }
  .slide ul li p{
    display: inline-block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px!important;
    margin-bottom: 5%;
    /*width: 400px;*/
    width: 80%;
    /*display: inline-flex;*/
  }
  .slide ul li h3{
      margin-bottom: 0px;
      margin-top: 2px;
      width: 50%!important;
      height: 15%!important;
  }
  /*.carousel-control.right{
      width: 5%;
  }
  .carousel-control.left{
      width: 5%;
  }*/
  .carousel-indicators{
      bottom: 0px;
  }
  /*--------------form subscribe------------*/
  #section3 {
    width: 100%;
    /*height: 800px;*/
    margin-bottom: 0%;
    background: none;
  }
  #section3 # mc_embed_signup_scroll{
    width: 100%;
  }
  #section3 .intro #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup form {
      width: 80%;
      padding: 0px!important;
      /*text-align: center;*/
  }
  #section3 .intro h2 {
      width: 90%;
      margin-left: 18%;
  }
  #section3 .intro #mc_embed_signup p {
    width: 100%;
    margin-left: 13%;
  }
  #mc_embed_signup .indicates-required{
    width: 90%;
    margin-top: 2%;
    margin-left: 17%!important;
    font-size: 1%;
    text-align: center!important;
  }
  #mc_embed_signup .indicates-required a{
    color: #61dec9;
  }
  .mc-field-group {
    margin-left: 15%;
  }
  .clear {
    margin-left: 59%!important;
  }
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 100%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 8%;
    margin-top: 20px;
  }
  footer .row .kolom1 h2{
    font-size: 125%;
    padding-top:10px;
  }
  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 10%;
  }
  footer .row .rowbawah{
  margin-top: 6.8%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size: 100%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }
  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }
}
