/*---------------------H P  U M U M , G A L A X Y  S----------------------*/
@media screen and (min-device-width : 359px) and (max-device-width: 361px)
{
  #header{
    width:360px;
  }
  .navbar{
    width: 360px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
      width: 95px;
      height: 22px;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar {
      background-color: #888 !important;
  }


   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
      font-size: 90%;
      height: 97%;
      margin-top: 60;
    }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      text-shadow: 1px 1px grey;
  }
  .kontenabout .judulabout-alas .judulabout h1{
    margin-top: 22%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 34%;
    font-size: 196%;
    text-shadow: 2px 2px grey;
  }
  .kontenabout .isiabout {
    top: 528 !important;
  }
  .isiabout .kiri{
  margin:0;
  display: flex;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kiri h1{
  font-size: 25px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
  }
  .isiabout .kiri img{
  margin-bottom: 7%;
  margin-left: 12%;
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kanan img{
    align-self: center;
    max-width: 25%;
    max-height: 11.533%;
    margin-left: 10%;
  }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }
  .isiabout .kanan ul {
    padding-left: 30%;
  }
  .isiabout .kanan h1{
  font-size: 25px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:0px;
  margin-bottom:0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 80%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0px !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 6%;
  padding-left: 7%!important;
}
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }
  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/*---------------------------- I P H O N E  5---------------------------*/
@media screen and (min-device-width: 319px ) and (max-device-width: 321px)
{
  #header{
      width:320px;
  }
  .navbar{
      width: 320px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }

   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
      font-size: 90%;
      margin-top: 60;
      height: 96%;
    }

  .kontenabout .judulabout-alas .judulabout .awal {
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
        text-shadow: 1px 1px grey;
        font-size: 100%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 18%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 36%;
      font-size: 175%;
      text-shadow: 2px 2px grey;
    }
  .kontenabout .isiabout {
    top: 460;
  }
  .isiabout .kiri{
  margin:0;
  display: block;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kiri h1{

  font-size: 25px!important;
  text-align: center;
  margin: 7% 15% 0 15%;
  }
  .isiabout .kanan h1{

  font-size: 25px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }
  .isiabout .kiri img{
  margin-bottom: 7%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kanan img{
    align-self: center;
    max-width: 25%;
    max-height: 11.533%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 85%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}


/*---------------------------- I P H O N E  6---------------------------*/
@media screen and (min-device-width : 374px) and (max-device-width : 376px)
{
  #header{
    width:375px;
  }
  .navbar{
      width: 375px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 95px;
    	height: 22px;
    	margin-top: 20px;
    	margin-bottom: 5px;
    	margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }

   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
    margin-top: 60;
    font-size: 90%;
    height: 98%;
  }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      text-shadow: 1px 1px grey;
      font-size: 110%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 20%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 37%;
      font-size: 205%;
      text-shadow: 2px 2px grey;
    }

  .kontenabout .isiabout{
    top: 555;
  }

  .isiabout .kiri{
  margin:0;
  display: block;
  padding-left: 9%;
  padding-right: 9%;
  }

  .isiabout .kiri h1{
  font-size: 25px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  }
  .isiabout .kanan h1{
  font-size: 25px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }

  .isiabout .kiri img{
  margin-bottom: 7%;
  margin-right: 10%;
  margin-left: 10%;
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kanan img{
    max-width: 25%;
    max-height: 35%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    align-self: center;
    }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0px !important;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 91%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 15%;
  }
  footer .row .rowbawah{
  margin-top: 4%;
  padding-left: 7%!important;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/*------------------------------- I P A D---------------------------------*/
@media screen and (min-device-width : 767px) and (max-device-width : 769px)
{
  #header{
    width:768px;
  }
  .navbar{
    width: 768px;
    height: 10%!important;
  }
  .navbar-header{
      width: 768px;
      height: 15%!important;
      margin-right: 0px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
    	width: 20%;
    	height: 55%;
    	margin-top: 4%;
    	margin-bottom: 1%;
    	margin-left: 2%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }


   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
    margin-top: 92.5;
    font-size: 90%;
    height: 103.5%;
  }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      text-shadow: 1px 1px grey;
      font-size: 200%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 20%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 25%;
      font-size: 420%;
      text-shadow: 2px 2px grey;
    }

  .kontenabout .isiabout{
    top: 900;
  }

  .isiabout .kiri{
  margin:0;
  display: block;
  padding-left: 9%;
  padding-right: 9%;
  }

  .isiabout .kiri h1{
  font-size: 33px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  }
  .isiabout .kanan h1{
  font-size: 33px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }

  .isiabout .kiri img{
  margin-bottom: 7%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top:5%;
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kanan .dna {
    max-width: none;
  }
  .isiabout .kanan p{
    max-width: none;
  }
  .isiabout .kiri p{
    max-width: none;
  }
  .isiabout .kanan img{
    max-width: 25%;
    max-height: 35%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-self: center;
    }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/*------------------------- G A L A X Y   M E G A ---------------------------*/
@media screen and (min-device-width : 719px) and (max-device-width : 721px)
{
  #header{
      width:720px;
  }
  .navbar{
      width: 720px;
  }
  .navbar-header{
      width: 720px;
      height: 10%!important;
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin: 3% 0% 3% 0%;
      width: 700px;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 185px;
    	height: 40px;
    	margin-top: 4%;
    	margin-bottom: 2%;
    	margin-left: 0%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }

   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
    margin-top: 100;
    font-size: 90%;
    height: 102%;
  }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 15%;
      margin-right: 15%;
      text-shadow: 1px 1px grey;
      font-size: 208%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 28%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 41%;
      font-size: 393%;
      text-shadow: 2px 2px grey;
    }
  .kontenabout .boxatas-isiabout{
    top:115%;
  }
  .kontenabout .isiabout{
    top: 1150;

  }

  .isiabout .kiri{
  margin:0;
  display: block;
  padding-left: 9%;
  padding-right: 9%;
  }

  .isiabout .kiri h1{
  font-size: 35px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  }
  .isiabout .kanan h1{
  font-size: 35px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }

  .isiabout .kiri img{
  margin-bottom: 7%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top:5%;
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 9%;
  padding-right: 9%;
  }
  .isiabout .kanan .dna {
    max-width: none;
  }
  .isiabout .kanan p{
    max-width: none;
  }
  .isiabout .kiri p{
    max-width: none;
  }
  .isiabout .kanan img{
    max-width: 25%;
    max-height: 35%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-self: center;
    }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 70%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 10%;
  }
  footer .row .kolom1 h2{
    font-size: 100%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 13%;
  }
  footer .row .rowbawah{
  margin-top: 5%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size:70%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 17.11%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/*------------------------- G A L A X Y   T A B I ---------------------------*/
@media screen and (min-device-width : 1199px) and (max-device-width : 1201px)
{
  #header{
    width:360px;
  }
  .navbar{
    width: 360px;
  }
  .navbar-header{
      width: 100%;
      margin-right: 0px;
  }
  .navbar-header .navbar-toggle{
      margin-right: 0px;
  }
  .navbar-brand img{
      width: 95px;
      height: 22px;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
  }

  .navbar-default .navbar-toggle .icon-bar {
      background-color: #888 !important;
  }


   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
    margin-top: 60;
    font-size: 90%;
    height: 99.9%;
  }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 22%;
      margin-right: 23%;
      text-shadow: 1px 1px grey;
      font-size: 152.8%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 24%;
      margin-left: 11%;
      margin-right: 12%;
      margin-bottom: 5%;
      font-size: 230%;
      text-shadow: 2px 2px grey;
    }

  .kontenabout .isiabout{
    top: 675;

  }

  .isiabout .kiri{
  margin:0;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  }

  .isiabout .kiri h1{
  font-size: 35px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  }
  .isiabout .kanan h1{
  font-size: 35px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }

  .isiabout .kiri img{
  margin-bottom: 5%;
  margin-right: 120px;
  margin-left: 120px;
  margin-top:5%;
  align-self: center
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  }
  .isiabout .kanan .dna {
    max-width: none;
  }
  .isiabout .kanan p{
    max-width: none;
  }
  .isiabout .kiri p{
    max-width: none;
  }
  .isiabout .kanan img{
    max-width: 25%;
    max-height: 35%;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 8px;
    margin-top: 5%;
    align-self: center;
    }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 100%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 8%;
  }
  footer .row .kolom1 h2{
    font-size: 125%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 10%;
  }
  footer .row .rowbawah{
  margin-top: 6.8%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size: 100%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}

/*------------------------- G A L A X Y   T A B I ---------------------------*/
@media screen and (min-device-width : 1279px) and (max-device-width : 1281px)
{
  #header{
      width:1280px;
  }
  .navbar{
      width: 1280px;
  }
  .navbar-header{
      width: 500px!important;
      /*height: 10%!important;*/
      margin-right: 5%;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      width: 1245px;
      margin: 2% 0% 0% 0%;
  }
  .navbar-right li{
      margin-bottom: 4%;
  }
  .navbar-header .navbar-toggle{
      margin-right: 5%;
  }
  .navbar-brand img{
    	width: 180px;
    	height: 37px;
    	margin-top: 3%;
    	margin-bottom: 2%;
    	margin-left: 3%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
  }

   /*--------------------- E N D   O F   N A V B A R ---------------------- */

  .kontenabout .judulabout-alas .judulabout {
    margin-top: 103;
    font-size: 90%;
    height: 95%;
  }

  .kontenabout .judulabout-alas .judulabout .awal {
      text-align: justify;
      margin-left: 22%;
      margin-right: 23%;
      text-shadow: 1px 1px grey;
      font-size: 152.8%;
    }
  .kontenabout .judulabout-alas .judulabout h1{
      margin-top: 21%;
      margin-left: 11%;
      margin-right: 12%;
      margin-bottom: 5%;
      font-size: 230%;
      text-shadow: 2px 2px grey;
    }
  .kontenabout .boxatas-isiabout{
    top:110%;
    -webkit-box-shadow: 0 2px 17px 0 white;
    -moz-box-shadow: 0 2px 17px 0 white;
    box-shadow: 0 2px 17px 0 white;
  }
  .kontenabout .isiabout{
    top: 740;

  }

  .isiabout .kiri{
  margin:0;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  }

  .isiabout .kiri h1{
  font-size: 35px!important;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  }
  .isiabout .kanan h1{
  font-size: 35px!important;
  text-align: center;
  margin: 0 15% 0 15%;
  }

  .isiabout .kiri img{
  margin-bottom: 5%;
  margin-right: 128px;
  margin-left: 128px;
  margin-top:5%;
  align-self: center
  }
  .isiabout .kanan{
  margin:0;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  }
  .isiabout .kanan .dna {
    max-width: none;
  }
  .isiabout .kanan p{
    max-width: none;
  }
  .isiabout .kiri p{
    max-width: none;
  }
  .isiabout .kanan img{
    max-width: 25%;
    max-height: 35%;
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 8px;
    margin-top: 5%;
    align-self: center;
    }
  .isiabout .kanan ol, ul{
    padding-left: 0px;
  }

  /*----------------------------- F O O T E R ------------------------------*/
  footer {
    padding: 0% 3% 0% 3%;
  }
  footer ul{
    font-size: 100%;
    margin-right: 0px;
    text-align-last: center;
  }
  footer .row {
    padding: 0 10% 0 10%;
  }
  footer .row .kolom1 {
    padding: 0px !important;
    width:50%;
  }
  footer .row .kolom1 .footerh1{
    font-size: 20px !important;
    padding-top: 8%;
  }
  footer .row .kolom1 h2{
    font-size: 125%;
    padding-top:10px;
  }

  footer .row .kolom2 {
    width: 50%;
    padding: 0 !important;
  }
  footer .row .rowatas img{
    width: 10%;
  }
  footer .row .rowbawah{
  margin-top: 6.8%;
  padding-left: 7%;
  padding-right: 0;
  }
  footer .row .rowbawah span{
    font-size: 100%;
  }
  footer .row .kolom2 .kolom2-1 {
    padding-right: 0px;
    padding-top: 10%;
    padding-left: 7% !important;
  }

  #BounceToTop {
      bottom: 2%!important;
      right: 3%!important;
  }

}
