*{
	/*border: solid;
	border-width: 1px;
	border-radius: 10px;*/
	/*font-family: 'Helvetica';*/
}

#verification_container{
	max-width: 700px;
	border: solid;
	border-width: 5px;
	border-color: #eee;
}

#verification_container > *{
	padding: 20px;
}

a{
	text-decoration: none;
}

ul, ol{
	list-style-type: none;
	padding-left: 0px;
}

ul li{
	display: inline-block;
}

span, p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}

.top{
	width: 100%;
	min-height: 450px;
	border-bottom: solid;
	border-width: 3px;
	border-color: #333;
}

.top > div > *{
	margin: 5px auto;
}

.button{
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 0.8em;
	font-style: bold;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#email_verification{
	border: none;
	font-size: 1.2em;
	color: #fff;
    background: -webkit-linear-gradient(#61dec9,#4eaf9c);
    background: linear-gradient(#61dec9,#4eaf9c); /* Standard syntax */
}

.smaller{
	font-size: 0.8em;
}

#logo{
	width: 250px;
}

footer{
	color: white;
	background: #0f101e;
	width: 100%;
	min-height: 100px;
	font-size: 0.8em;
}

footer img{
	width: 30px;
}